<html>
<head>
	<title>Game</title>
	<link rel="stylesheet" href="./style.css">
</head>
<body>
	<h1><%= @player_1_name %> vs. <%= @player_2_name %></h1>
	<div class="player">
		<%= @player_1_name %>: <%= @player_1_hp %>HP
		<form action="/attack" method="post">
			<input type="text" name="target" value="<%= @player_2_name %>" hidden>
			<button type="submit" id="player1">Attack</button>
		</form>
	</div>

	<div class="player">
    <%= @player_2_name %>: <%= @player_2_hp %>HP
		<form action="/attack" method="post">
			<input type="text" name="target" value="<%= @player_1_name %>" hidden>
			<button type="submit"  id="player2" >Attack</button>
		</form>
	</div>

	<div class="log">
		<h3>Log</h3>
		<ul>
			<% @game_status.reverse.each do |state| %>
			<li><%= state %></li>
			<% end %>
		</ul>

	</div>
</body>
</html>